<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyClinicMed.Properties.Settings.ClinicaEnfanceConnectionString"
            connectionString="Data Source=aw-server040.database.windows.net;Initial Catalog=ClinicaEnfance;User ID=admincloud;Password=&quot;N4t@lh4 t3 4m0&quot;"
            providerName="System.Data.SqlClient" />
        <add name="MyClinicMed.Properties.Settings.bdDesktop" connectionString="Data Source=DESKTOP-9SPM9G4\SQLEXPRESS;Initial Catalog=ClinicaEnfance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>